/* HUD */
#hud {
	padding: 10px;
	width: 200px;
	height: 80px;
	background-color: grey;
	float: left;
	border: 2px solid black;
}

.user_stuff {
	float: left;
}

.profile {
	height: 60px;
	width: 60px;
}

.stats {
	float: right;
}

/* user interaction section */
.user_interaction {
	margin: auto;
	width: 40%;
	padding: 10px;
	border: 2px solid black;
}

.user_interaction .text-input {
	display: inline-block;
	float: right;
}

.sub {
	display: inline-block;
	text-align: center;
}

/* wins and what not */

.who-wins-what {
	margin: 10px auto;
	padding: 10px;
	width: 40%;
	border: 2px solid black;
}

/* Leaderboard */
.leaderboard {
	float: right;
	width: 200px;
	padding: 10px;
	background-color: grey;
	border: 2px solid black;
}


.clearfix {
	content: "";
	display: table;
	clear: both;
}
